
<div class="title">RxJS Demo</div>
<div class="main-container">
  <div class="left-side">
    <div class="operator-container">
      <div class="operator-label">original data</div>
      <div *ngFor="let number of dataSource">
        {{ number }}
      </div>
    </div>
    
    <div class="operator-container">
      <div class="operator-label">filter</div>
      <div *ngFor="let number of filterData">
        {{ number }}
      </div>
    </div>
    
    <div class="operator-container">
      <div class="operator-label">map</div>
      <div *ngFor="let number of mapData">
        {{ number }}
      </div>
    </div>

    <div class="operator-container">
      <div class="operator-label">combineLatest</div>
      <div *ngFor="let number of combineLatestData">
        {{ number }}
      </div>
    </div>

    <div class="operator-container">
      <div class="operator-label">multiple operators</div>
      <div *ngFor="let number of multipleOperatorsData">
        {{ number }}
      </div>
    </div>
  </div>

  <div class="right-side">
    <observer-demo></observer-demo>
    <div>
      FIRST SUBSCRIBER (greater than 20)
      <div *ngFor="let firstNum of firstSubscriber">
        {{ firstNum }}
      </div>
    </div>
    
    <div>
      SECOND SUBSCRIBER (less than 20)
      <div *ngFor="let secondNum of secondSubscriber">
        {{ secondNum }}
      </div>
    </div>
  </div>
</div>